.projectSynopsis {
  text-align: justify;
  padding: var(--page-padding);
  &::first-letter {
    padding-left: var(--page-padding);
  }
}
.projectListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  &.mobile {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
