@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --mobile-breakpoint: 768px;

  --primary-rgb: 0, 49, 83;
  --primary: rgb(var(--primary-rgb));
  --primary-tint: #ccd6e0;
  --text: #3f3f3f;

  --text-inverse: #eeeeee;
  --text-inverse-dim: #cccccc;

  --secondary: #a31621;
  --secondary-highlight: #db222a;

  --background: #eeeeee;

  --cv-summary-width: 32%;

  --font-family: "Noto Sans", sans-serif;

  --h1: 36px;
  --h2: 30px;
  --h3: 26px;
  --h4: 20px;
  --h5: 14px;

  // miscellaneous config
  --overlay-z-index: 10000;
  --name-header-height: 72px;
  --section-height: 26px;
  --page-padding: 16px;
  --section-padding: 8px 16px;

  --cv-date-column-width: 10vw;

  --main-header-height: 72px;

  // cover image
  --cover-image-size: 300px;
  --text-container-size: 30vw;

  // cover animation parts duration
  --cover-animation-image-appear: 1s;
  --cover-animation-image-move: 0.5s;
  --cover-animation-image-move: 0.5s;
  // timeline
  --timeline-point-size: 48px;
  --timeline-stroke-width: 4px;
  --timeline-color: var(--primary);
  // loading screen
  --loading-component-size: 64px;
  --loading-overlay-color: rgba(14, 14, 14, 0.2);
}

[data-theme="dark"] {
  --primary: #ff5722;
  --secondary: #e43f5a;
  --background: #222831;
  --text: #eeeeee;

  --text-inverse-rgb: 34, 40, 49;
  --text-inverse: rgb(var(--text-inverse-rgb));
  --text-inverse-dim: lighten(var(--text-inverse-rgb), 30%);

  // --loading-overlay-color: rgba(var(--text-inverse-rgb), 0.8);
}

html {
  scroll-behavior: smooth;
}

* {
  color: var(--text);
  font-family: var(--font-family);
  // hide scrollbars
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  padding-top: var(--main-header-height);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.tooltip {
  background-color: var(--secondary) !important;
  color: var(--text) !important;
  font-weight: bold;
  &::after {
    // the tip's color
    border-top-color: var(--secondary) !important;
  }
}
