.sectionContainer {
  width: 100vw;
  overflow-y: hidden;
  padding: var(--page-padding);
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  &.fullPage:not(:first-of-type) {
    min-height: 100vh;
    // if it's not the first section, put some paddings at the top so that the title will be seen when anchors are clicked
    &:not(:first-of-type) {
      padding-top: var(--name-header-height);
    }
  }
  .title {
    font-size: var(--h3);
    text-transform: uppercase;
    margin: var(--page-padding) 0;
  }
}
