.container {
  display: flex;
  flex-direction: column;

  * {
    font-size: var(--h5);
  }
  .contentContainer {
    flex: 1;
    display: flex;
    .leftContainer {
      flex: 1;
      background-color: var(--background);
    }

    .rightContainer {
      width: var(--cv-summary-width);
      background-color: var(--primary-tint);
      * {
        background-color: var(--primary-tint) !important;
      }
    }
  }
}

@media print {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(attr(page-count) * 29.7cm);
  }

  .nextPage {
    page-break-before: always;
  }
  @page {
    size: portrait;
  }
}
